<div class="museum-page" ng-class="{'map-expanded': museum.mapExpanded}">

    <imls-brand></imls-brand>
    <cartodb-vis></cartodb-vis>

    <div class="action-bar" action-bar-affix>
        <div class="museum-info">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div ng-if="museum.museum">
                        <a class="back-to-results" ui-sref="home"><i class="md-icon-left-big"></i></a>
                        <h1>{{ ::museum.museum.commonname }} </h1>
                        <!--
                            TODO: Create address via filter, so we can use proper version of the address
                                  There is a physical, geocoded, and source address in the response
                         -->
                        <h5>{{ ::museum.museum | imlsAddress }}</h5>
                        <imls-social-links ng-if="museum.museum" factual-id="museum.museum.factual_id" ></imls-social-links>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <ul class="list-unstyled">
                        <!-- TODO: Verify this value and make it more useful to user -->
                        <li><strong>Category:</strong> {{ ::museum.museum.discipl }}</li>
                        <!-- TODO: Filter to properly format phone number -->
                        <li><strong>Phone:</strong> {{ ::museum.museum.phone | tel }}</li>
                        <!-- TODO: Verify for bad data -->
                        <li><a href="{{ ::museum.museum.weburl }}" target="_blank">Visit Museum Website</a></li>
                        <li><a>Submit Museum Update</a></li>
                        <li>
                            <div class="dropdown" dropdown>
                                <span class="dropdown-toggle" dropdown-toggle>
                                    Download Museum Info <i class="md-icon-down-mini"></i>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Full Report</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal">Museum Row</a></li>
                                    </ul>
                                </span>
                            </div>
                        </li>
                        <li><a ng-click="museum.onPrintClicked()">Print This Report</a></li>
                    </ul>
                </div>
            </div>
        </div> <!-- /.museum-info -->
        <div class="museum-boundary">
            <p>Edit Museum Boundary</p>
            <form class="form-inline">
                <div class="action-group">
                    <div class="form-group">
                        <select ng-model="museum.acsRadius"
                                ng-change="museum.onRadiusChanged()"
                                ng-options="opt.value as opt.label for opt in museum.acsRadiusOptions"
                                class="form-control">
                        </select>
                    </div>
                </div>

                <div class="action-group">
                    <div class="form-group">
                        <button type="button"
                                class="form-control mapExpand"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                ng-click="museum.onStartDrawPolygon()"
                                title="Draw Custom Polygon">
                            <i class="md-icon-polygon-draw"></i>
                        </button>
                    </div>
                </div>
                <div class="action-group">
                    <div class="form-group">
                        <button type="button"
                                class="form-control mapExpand"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                ng-click="museum.onStartDrawCircle()"
                                title="Draw Circle Polygon">
                            <i class="md-icon-polygon-circle"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div> <!-- /museum-boundary -->
    </div> <!-- /.action-bar -->

    <section class="main-content">
        <div class="container-fluid">
                <tabset justified="true">
                    <tab class="tab-pane fade in">
                        <tab-heading>People</tab-heading>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="chart-graph">
                                    <h4>Population</h4>
                                    <span class="numerical">6,545</span>
                                </div>
                            </div> <!-- /.col -->
                            <div class="col-md-4">
                                <div class="chart-graph">
                                    <h4>Race/Ethnicity</h4>
                                    <img src="/images/charts/race.png">
                                </div>
                            </div> <!-- /.col -->
                            <div class="col-md-4">
                                <div class="chart-graph">
                                    <h4>Gender</h4>
                                    <img src="/images/charts/gender.png">
                                </div>
                            </div> <!-- /.col -->
                        </div> <!-- /.row -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="chart-graph">
                                    <h4>Education Attained</h4>
                                    <img src="/images/charts/education.png">
                                </div>
                            </div> <!-- /.col -->
                            <div class="col-md-4">
                                <div class="chart-graph">
                                    <h4>Foreign Born Population</h4>
                                    <img src="/images/charts/foreign-born.png">
                                </div>
                            </div> <!-- /.col -->
                            <div class="col-md-4">
                                <div class="chart-graph">
                                    <h4>Employment Status</h4>
                                    <img src="/images/charts/employment.png">
                                </div>
                            </div> <!-- /.col -->
                        </div> <!-- /.row -->
                    </tab> <!-- /.tab-pane #people -->

                    <tab class="tab-pane fade in">
                        <tab-heading>Households</tab-heading>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="chart-graph">
                                    <h4>Median Home Value</h4>
                                    <span class="numerical">$239,850</span>
                                </div>
                            </div> <!-- /.col -->
                            <div class="col-md-4">
                                <div class="chart-graph">
                                    <h4>Home Values</h4>
                                    <img src="/images/charts/race.png">
                                </div>
                            </div> <!-- /.col -->
                            <div class="col-md-4">
                                <div class="chart-graph">
                                    <h4>Per Capita Income</h4>
                                    <span class="numerical">$28,100</span>
                                </div>
                            </div> <!-- /.col -->
                        </div> <!-- /.row -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="chart-graph">
                                    <h4>Household Tenure</h4>
                                    <img src="/images/charts/household-tenure.png">
                                </div>
                            </div> <!-- /.col -->
                            <div class="col-md-4">
                                <div class="chart-graph">
                                    <h4>Poverty</h4>
                                    <img src="/images/charts/poverty.png">
                                </div>
                            </div> <!-- /.col -->
                        </div> <!-- /.row -->
                    </tab> <!-- /.tab-pane #households -->
                    <tab class="tab-pane fade in">
                        <tab-heading>Similar Museums</tab-heading>
                        TODO: Fill Content
                    </tab>
                </tabset>
        </div> <!-- /.container-fluid -->
    </section> <!-- /.main-content -->

    <imls-footer></imls-footer>
</div>
