<div class="row">
    <div class="col-md-4">
        <div class="chart-graph">
            <h4>Total Population</h4>
            <span class="numerical">{{ people.sumData['B01001_001E'] | number }}</span>
        </div>
    </div> <!-- /.col -->
    <div class="col-md-4">
        <div class="chart-graph">
            <h4>Population Under 18 Years Old</h4>
            <span class="numerical">{{ people.sumData['B09001_001E'] | number }}</span>
        </div>
    </div> <!-- /.col -->
    <div class="col-md-4">
        <div class="chart-graph">
            <h4>Total People in Poverty</h4>
            <span class="numerical">{{ people.sumData['B17001_001E'] | number }}</span>
        </div>
    </div> <!-- /.col -->
</div>
<div class="row">
    <div class="col-md-4">
        <div class="chart-graph">
            <h4>Total Households</h4>
            <span class="numerical">{{ people.sumData['B11001_001E'] | number }}</span>
        </div>
    </div> <!-- /.col -->
    <div class="col-md-4">
        <div class="chart-graph">
            <h4>Race</h4>
            <div id="bar-chart-race"><svg></svg></div>
        </div>
    </div> <!-- /.col -->
    <div class="col-md-4">
        <div class="chart-graph">
            <h4>Employment Status</h4>
            <div id="bar-chart-employment"><svg></svg></div>
        </div>
    </div> <!-- /.col -->
</div> <!-- /.row -->
<div class="row">
    <div class="col-md-4">
        <div class="chart-graph">
            <h4>Household Languages</h4>
            <div id="bar-chart-household-language"><svg></svg></div>
        </div>
    </div> <!-- /.col -->
</div>
