<div class="row">
    <div class="col-md-4">
        <div class="chart-graph">
            <h4>Total Households</h4>
            <span class="numerical">{{ house.data['B11001_001E'].sum | number }}</span>
        </div>
    </div> <!-- /.col -->
    <div class="col-md-4">
        <div class="chart-graph">
            <h4>Household Types</h4>
            <div id="pie-chart-household-type"><svg></svg></div>
        </div>
    </div> <!-- /.col -->
    <div class="col-md-4">
        <div class="chart-graph">
            <h4>Household Languages</h4>
            <div id="bar-chart-household-language"><svg></svg></div>
        </div>
    </div> <!-- /.col -->
    <div class="col-md-4">
        <div class="chart-graph">
            <h4>Median household income</h4>
            <span class="numerical">{{ house.data['B19013_001E'].popAvg | currency:"$":0 }}</span>
        </div>
    </div> <!-- /.col -->
    <div class="col-md-4">
        <div class="chart-graph">
            <h4>Median home value</h4>
            <span class="numerical">{{ house.data['B25077_001E'].popAvg | currency:"$":0 }}</span>
        </div>
    </div> <!-- /.col -->
    <div class="col-md-4">
        <div class="chart-graph">
            <h4>Median year moved in (owner)</h4>
            <span class="numerical">{{ house.data['B25039_002E'].popAvg | limitTo:4 }}</span>
        </div>
    </div> <!-- /.col -->
    <div class="col-md-4">
        <div class="chart-graph">
            <h4>Median year moved in (renter)</h4>
            <span class="numerical">{{ house.data['B25039_003E'].popAvg | limitTo:4 }}</span>
        </div>
    </div> <!-- /.col -->
</div>
