.dropdown {

	.dropdown-toggle {
		transition: .2s ease color;

		&:focus, &.focus {
			text-decoration: none;
		}
	}
}

.dropdown.open {
	position: relative;

	.dropdown-toggle {
		background: $white;
		padding: 10px;
		position: relative;
		color: $brand-primary;
		border-radius: 5px 5px 0 0;
		border: 1px solid $base-darker;
	}

	.dropdown-menu {
		border-radius: 0 0 5px 5px;
		border-color: $base-darker;
		border-top: 1px solid $border-color;
		margin: 9px 0 0;
		display: block;

		a {
			color: $brand-primary;
		}
	}
}

input.search-field[aria-activedescendant] {
    border-radius: 10px 0 0 0 !important;
}

input.search-field + .dropdown-menu {
    padding: 10px;
    max-width: 100%;
    width: auto;
    max-height: 310px;
    overflow: auto;
    border-radius: 0 0 10px 10px;
    margin: -1px;
    opacity: 1;
    right: 20px;
    left: 0 !important;

    li a {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: lighten($base, 10%);
        @include font-size(13);
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 1.8;
        text-transform: uppercase;
        padding: 3px 10px;
        cursor: pointer;

        strong {
            color: $brand-primary-light;
        }
    }

    .active > a {
        color: $white;
    }
}
