.leaflet-container {

	a {
		color: $brand-primary;
	}

	.leaflet-control-attribution {
		background: rgba($white, .2);
	}

	.leaflet-control-map-expand {
		cursor: pointer;
	}

    .leaflet-control.leaflet-draw {
        margin-top: 86px;
        margin-right: 20px;
        a {
            background-color: white;
        }
    }

    div.cartodb-zoom,
    div.cartodb-tiles-loader {
        float: right;
        margin: 20px 20px 0 0;
    }

    div.cartodb-tiles-loader {
        margin-top: 30px;
    }

    div.cartodb-legend-stack {
        bottom: 40px;
        left: 20px;
        right: auto;
    }
}

.leaflet-bar {
	box-shadow: 0 0 4px rgba($base-dark, .5);

    a {
        width: 28px;
        height: 28px;
        line-height: 28px;
        border-bottom: none;

        &:hover {
            width: 28px;
            height: 28px;
            line-height: 28px;
        }
    }
}