.leaflet-container {

	a {
		color: $brand-primary;
	}

	.leaflet-control-attribution {
		background: rgba($white, .2);
	}

	.leaflet-control-map-expand {
		cursor: pointer;
	}

    div.cartodb-zoom,
    div.cartodb-tiles-loader {
        float: right;
        margin: 20px 20px 0 0;
    }

    div.cartodb-tiles-loader {
        margin-top: 0;
    }

    div.cartodb-legend-stack {
        bottom: 40px;
        left: 20px;
        right: auto;
    }
}

.leaflet-bar {
	box-shadow: 0 0 4px rgba($base-dark, .5);

    a {
        width: 28px;
        height: 28px;
        line-height: 28px;
        border-bottom: none;

        &:hover {
            width: 28px;
            height: 28px;
            line-height: 28px;
        }
    }
}


// CartoDB Map
.cartodb-map-wrapper {

    .cartodb-legend.category {

        li {
            text-transform: none;
        }

        .bullet {
            float: none;
            display: inline-block;
            vertical-align: middle;
        }
    }

    //hover tooltip
    .cartodb-tooltip-content-wrapper {
        background: $base-dark;

        p {
            color: $white;
        }
    }

    //click popup
    .cartodb-popup.v2 {
        background: $base-dark;

        h2 {
            @include font-size(14);
            color: $white;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid $base;
        }

        p {
            color: $base-light;
        }

        .cartodb-popup-content a {
            display: block;
            text-align: center;
            padding: 10px;
            border-radius: 100px;
            background: $brand-primary;
            color: $white;
            max-width: 90%;

            &:hover {
                text-decoration: none;
                background: $brand-primary-light;
            }
        }

        a.close {
            background: $base;
            color: $white;

            &:before, &:after {
                background: $white;
            }
        }

        &:before {
            border-top-color: $base-dark;
        }
    }
}
