/// Padding container equal to container-fluid
/// used to give full-width tables the same padding as containers
@mixin page-container-padding {
	&:first-child {
		padding-left: 80px;
	}

	&:last-child {
		padding-right: 80px;
		text-align: right;
	}
}

.table {
	margin-bottom: 40px;

	thead tr th {
		padding: 25px;
		font-weight: 600;
		@extend .h4;
		border-bottom-width: 1px;

		@include page-container-padding;
	}

	tbody tr:nth-of-type(odd){
		background-color: $off-white;
	}

	tbody tr:last-child td {
		border-bottom: 1px solid $border-color;
	}

	tbody tr td {
		padding: 17px 25px;
		text-transform: uppercase;
		vertical-align: middle;

		.btn {
			padding: 10px 30px;
			text-transform: initial;
			@include font-size(14);
		}

		@include page-container-padding;
	}
}

.table-sort {
    @include font-size(11);
    margin-left: -30px;
    float: left;
    padding: 4px;
    background-color: $off-white;
    border-radius: 5px;
    cursor: pointer;
}
