.home-page {

	.main-content {
		padding: 50px 0;
		text-align: center;
	}

    .panel {
        border-radius: 0;
        max-width: 600px;
        margin: auto;
    }

    .panel-body {
        padding-left: 40px;
        padding-right: 40px;
    }

    .museum-icon {
        width: 150px;
    }

    @include respond-to('laptop-up') {
        .action-bar.fixed + .main-content {
            padding-top: 50px;
        }
    }
}
