footer {
	background: $base-dark;

	a:hover, a:focus {
		text-decoration: none;
		color: $white;
	}

    .brand {
        position: relative;
        background: none;
        padding: 0;
    }

	.logo img {
		display: block;
		margin: 0 auto 20px;
	}

	nav {
		margin-top: 40px;
		text-align: center;

		a {
			@include font-size(15);
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin: 20px;
		}
	}
}

.footer-section-main {
	padding: 50px 0;
	background: $base-darker;
}

.footer-section-secondary {
	padding: 70px 0;

	h3 {
		margin-bottom: 30px;
	}

	p {
		color: $white;
		line-height: 2;
		@include font-size(14px);
	}

	.btn {
		margin-top: 20px;
		padding: 15px 30px;
	}
}
