<div class="secondary-page">
    <div class="brand">
        <a class="logo" ui-sref="home"><img srcset="/images/2x/logo@2x.png 2x" src="/images/logo.png" ></a>
    </div> <!-- /.brand -->

    <div class="map-container">
        <div id="map"></div>
    </div> <!-- /.map-container -->

    <div class="action-bar">
        <div class="container-fluid">
            <h3><a ui-sref="home">Home &#8226;</a> About</h3>
        </div> <!-- /.container-fluid -->
    </div> <!-- /.action-bar -->

    <section class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-push-2">
                    <div class="content-title">
                        <img class="content-title-icon" src="/images/museum-icon.svg">
                        <h2>About the project</h2>
                        <hr>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit luptatem</p>
                    <p>accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <img src="http://placehold.it/850x300">
                    <p>accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                </div>
            </div>
        </div> <!-- /.container-fluid -->
    </section> <!-- /.main-content -->

    <imls-footer></imls-footer>
</div>