<div class="secondary-page">
    <div class="navbar action-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-7">
                    <imls-brand></imls-brand>
                    <nav>
                        <a class="active" ui-sref="about">About</a>
                        <a ui-sref="help">Getting Started</a>
                        <a ui-sref="contact">Contact</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8 col-xs-push-2">
                    <div class="content-title text-center">
                        <img class="museum-logo" srcset="/images/2x/museum-stat-logo-dark@2x.png 2x" src="/images/museum-stat-logo-dark.png">
                        <h2>About Museum<b>Stat</b></h2>
                    </div>
                    <p>MuseumStat is a robust online resource to support museums, communities, and researchers in gaining insights into the reach of museums and the communities they serve. MuseumStat contains information on about 30,000 organizations in the Institute of Museum and Library Services’ <a href="https://data.imls.gov/browse?limitTo=datasets&sortBy=newest&tags=mudf" target="_blank">Museum Universe Data File</a> (MUDF). The museum data are combined with community metrics on every U.S. census tract in the. MuseumStat is built on a geographical information system (GIS) platform that is designed to be intuitive and useful to a wide range of users and will continue to grow in its scope of features and information.</p>

                    <div class="content-title">
                        <h3>For Museums</h3>
                    </div>
                    <p>MuseumStat provides museum leaders with information to help in planning  their programming and outreach activities, improve their casemaking to grantmakers, and generate data-informed analyses to enhance their community impact.</p>

                    <div class="content-title">
                        <h3>For Communities</h3>
                    </div>
                    <p>MuseumStat provides community leaders with important indicators of community health and well-being, easily accessible through maps, charts, and graphs. A wide range of museums are identified as community assets and potential partners for programs and services.</p>

                    <div class="content-title">
                        <h3>For Researchers</h3>
                    </div>
                    <p>MuseumStat provides researchers, advocates, and policymakers with important data to understand the potential reach of museums in communities. Data is visualized on-screen and provided for download to allow for the widest possible use and analyses.</p>

                    <div class="content-title">
                        <h3>About the Data</h3>
                    </div>
                    <p>MuseumStat uses two key types of data, MUDF and the U.S. Census Bureau’s <a href="https://www.census.gov/programs-surveys/acs/" target="_blank">American Community Survey</a> (ACS).</p> 
                    <p>MUDF integrates data from several sources, including IMLS administrative records of <a href="https://data.imls.gov/browse%3Ftags=discretionary%26sortBy=newest" target="_blank">discretionary grant recipients</a> and IRS records of <a href="https://www.irs.gov/charities-non-profits/exempt-organizations-select-check" target="_blank">tax-exempt organizations</a>, among other sources. There are inherent limitations in the use of such data and we cannot attest to its overall accuracy and quality. We encourage you to learn more about how <a href="https://www.imls.gov/research-evaluation/data-collection/museum-universe-data-file" target="_blank">IMLS created MUDF</a>, its coverage, and maintenance. We also recommend you develop strategies for addressing these limitations.</p>
                    <p>The ACS is an ongoing statistical survey of the U.S. Census Bureau that gathers in-depth information on individuals and households throughout the country. MuseumStat uses the ACS 5-year estimates from 2010-2014, which allows for analysis down to the census tract level.</p>
                </div>
            </div>
        </div> <!-- /.container-fluid -->
    </section> <!-- /.main-content -->

    <imls-footer></imls-footer>
</div>
