<div class="secondary-page">
    <div class="navbar action-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-7">
                    <imls-brand></imls-brand>
                    <nav>
                        <a ui-sref="home">Home</a>
                        <a class="active" ui-sref="about">About</a>
                        <a ui-sref="contact">Contact</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8 col-xs-push-2">
                    <div class="content-title">
                        <img class="content-title-icon" src="/images/museum-icon.svg">
                        <h2>About Museum<b>Stat</b></h2>
                    </div>
                    <p>MuseumStat is a powerful online resource to support museums, communities, and researchers in gaining useful insights into the scope and reach of museums and the communities they serve. MuseumStat contains information on over 33,000 museums combined with community metrics on every census tract in the United States. MuseumStat is built on a geographical information system (GIS) platform that is designed to be intuitive and useful to a wide range of users and will continue to grow in its scope of features and information.</p>

                    <div class="content-title">
                        <h3>For Museums</h3>
                    </div>
                    <p>MuseumStat provides museum leaders with critical information to inform their programming and outreach activities, improve their casemaking to grantmakers, and generate data-driven analyses to enhance their community impact.</p>

                    <div class="content-title">
                        <h3>For Communities</h3>
                    </div>
                    <p>MuseumStat provides community leaders with important measures of community health and well-being, easily accessible through maps, charts, and graphs. A wide range of museums are identified as community assets and potential partners for programs and services.</p>

                    <div class="content-title">
                        <h3>For Researchers</h3>
                    </div>
                    <p>MuseumStat provides researchers, advocates, and policymakers with important, objective data to understand the scope, reach, and impact of museums in communities. Data is visualized on-screen and provided for download to allow for the widest possible use and analyses.</p>

                    <div class="content-title">
                        <h3>About the Data</h3>
                    </div>
                    <p>MuseumStat uses two key types of data, the Museum Universe Data File (MUDF) and the American Community Survey (ACS) of the U.S. Census Bureau. The MUDF is most comprehensive data file of museums in the United States, compiled through an ongoing process and updated twice each year. The ACS is an ongoing statistical survey of the U.S. Census Bureau that gathers in-depth information on individuals and households throughout the country. MuseumStat uses the ACS 5-year estimates from 2009-2013, which allows for analysis down to the block group level.</p>
                </div>
            </div>
        </div> <!-- /.container-fluid -->
    </section> <!-- /.main-content -->

    <imls-footer></imls-footer>
</div>
