<div class="brand">
    <a class="logo" ui-sref="home"><img srcset="/images/2x/logo@2x.png 2x" src="/images/logo.png" ></a>
</div> <!-- /.brand -->

<div class="map-container">
    <div id="map"></div>
</div> <!-- /.map-container -->

<div class="action-bar">
    <div class="container-fluid">
        <form class="form-inline">
            <div class="action-group">
                <div class="form-group search-bar">
                <div class="input-group">
                    <label class="input-group-addon" for="searchInput"><i class="md-icon-search"></i></label>
                    <input type="text" class="form-control search-field" id="searchInput" placeholder="Search">
                </div>
              </div>

                <div class="form-group">
                <button type="button" class="form-control" data-toggle="tooltip" data-placement="bottom" title="Your Location"><i class="md-icon-location"></i></button>
              </div>

                <div class="form-group">
                <button type="button" class="form-control mapExpand" data-toggle="tooltip" data-placement="bottom" title="Draw Custom Polygon"><i class="md-icon-polygon-draw"></i></button>
              </div>

              <div class="form-group">
                <button type="button" class="form-control mapExpand" data-toggle="tooltip" data-placement="bottom" title="Draw Circle Polygon"><i class="md-icon-polygon-circle"></i></button>
              </div>
            </div>
            <a ui-sref="home" class="btn btn-primary">Search</a>
          <!-- <button type="submit" class="btn btn-primary">Search</button> -->
        </form> <!-- /form -->
    </div> <!-- /.container-fluid -->
</div> <!-- /.action-bar -->

<section class="main-content">
    <div class="container-fluid" ng-if="!home.error">
        <img class="museum-icon" src="/images/museum-icon.svg">
        <h2>Discover Museums by Address, <br> City, Zip or Museum Name</h2>
    </div>
    <div class="container-fluid" ng-if="home.error">
        <img class="museum-icon" src="/images/museum-icon.svg">
        <h2>Sorry, your search has returned no museums. <br> Please refine your search.</h2>
    </div>
</section> <!-- /.main-content -->

<imls-footer></imls-footer>
