<div ng-class="{'home-page': home.pageState === home.states.DISCOVER, 'empty-search': home.pageState === home.states.ERROR }">
    <div class="navbar action-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-7">
                    <imls-brand></imls-brand>
                    <nav>
                        <a ui-sref="about">About</a>
                        <a ui-sref="help">Getting Started</a>
                        <a ui-sref="contact">Contact</a>
                    </nav>
                </div>

                <div class="col-xs-5">
                    <form class="form-inline">
                        <div class="action-group">
                            <label class="input-group-addon" for="searchInput">
                                <i class="md-icon-search" ng-if="!home.loadingSearch"></i>
                                <i class="preloader small" ng-if="home.loadingSearch"></i>
                            </label>
                            <input type="text"
                                   placeholder="Search by org, address or zip"
                                   class="form-control search-field"
                                   ng-model="home.searchText"
                                   uib-typeahead="location as location.name for location in home.search($viewValue)"
                                   typeahead-on-select="home.onTypeaheadSelected($item)"
                                   typeahead-wait-ms="300"
                                   typeahead-min-length="3" />
                           <button type="button"
                                class="form-control"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                ng-click="home.onLocationClicked()"
                                title="Your Location">
                                <i class="md-icon-location" ng-if="!home.loadingGeolocation"></i>
                                <div class="preloader small margin-auto" ng-if="home.loadingGeolocation"></div>
                            </button>
                        </div>
                        <a style="display: none;" ng-click="home.onSearchClicked()" class="btn btn-primary">Search</a>
                    </form> <!-- /form -->
                </div>
            </div>
        </div>
    </div>

    <cartodb-vis vis-fullscreen="home.mapExpanded"></cartodb-vis>

    <ui-view></ui-view>

    <imls-footer></imls-footer>
</div>
