<footer>
    <div class="footer-section-secondary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3">
                    <h3 class="white">A cooperative research project of:</h3>
                    <a class="logo" href="http://www.imls.gov" target="_blank">
                        <img srcset="/images/2x/logo@2x.png 2x" src="/images/logo.png">
                    </a>
                    <a class="logo" href="http://drexel.edu/westphal/graduate/AADM/" target="_blank">
                        <img srcset="/images/2x/westphal-logo@2x.png 2x" src="/images/westphal-logo.png" >
                    </a>
                </div>
                <div class="col-xs-3">
                    <a ui-sref="about"><h3>About</h3></a>
                    <p>MuseumStat is a powerful online resource to support museums, communities, and researchers in gaining useful insights into the scope and reach of museums and the communities they serve. <a ui-sref="about">More...</a></p>
                </div>
                <div class="col-xs-3">
                    <a ui-sref="contact"><h3>Contact</h3></a>
                    <p>We want to ensure that MuseumStat meets your needs and provides you with valuable information. Learn more and let us know how we can help. <a ui-sref="contact">More...</a></p>
                </div>
                <div class="col-xs-3">
                    <a href="http://data.imls.gov" target="_blank"><h3>Full Dataset</h3></a>
                    <p>The entire dataset contained in the Museum Universe Data File and other useful datasets can be downloaded for more advanced research and analysis. Access the data and other resources <a href="http://data.imls.gov" target="_blank">here</a>.</p>
                </div>
            </div>
        </div> <!-- /.container-fluid -->
    </div>
</footer> <!-- /footer -->
