<footer>
    <div class="footer-section-secondary">
        <div class="container-fluid">
            <div class="brand">
                <h4 class="text-center">A cooperative research project of:</h4>
                <a class="logo" ui-sref="home">
                    <img srcset="/images/2x/logo@2x.png 2x" src="/images/logo.png" >
                </a>
                <a class="logo" ui-sref="home">
                    <img srcset="/images/2x/westphal-logo@2x.png 2x" src="/images/westphal-logo.png" >
                </a>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3>Contact</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Duis aute irure dolor in reprehenderit in voluptate fugiat esse cillum dolore eu fugiat nulla pariatur fugiat reprehenderit. </p>
                    <a ui-sref="contact" class="btn btn-primary">Contact Us</a>
                </div>
                <div class="col-md-4">
                    <h3>About</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur velit. </p>
                </div>
                <div class="col-md-4">
                    <h3>Full Dataset</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur voluptate. </p>
                    <a href="#" class="btn btn-primary">Download Dataset</a>
                </div>
            </div>
        </div> <!-- /.container-fluid -->
    </div>
</footer> <!-- /footer -->
