<footer>
    <div class="footer-section-main">
        <div class="container-fluid">
            <a class="logo" ui-sref="home"><img srcset="/images/2x/logo@2x.png 2x" src="/images/logo.png" ></a>

            <nav>
                <a ui-sref="home">Home</a>
                <a ui-sref="about">About</a>
                <a ui-sref="contact">Contact</a>
            </nav>
        </div>
    </div>
    <div class="footer-section-secondary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h3>Contact</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Duis aute irure dolor in reprehenderit in voluptate fugiat esse cillum dolore eu fugiat nulla pariatur fugiat reprehenderit. </p>
                    <a ui-sref="contact" class="btn btn-primary">Contact Us</a>
                </div>
                <div class="col-md-4">
                    <h3>About</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur velit. </p>
                </div>
                <div class="col-md-4">
                    <h3>Full Report</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur voluptate. </p>
                    <a href="#" class="btn btn-primary">Download Report</a>
                </div>
            </div>
        </div> <!-- /.container-fluid -->
    </div>
</footer> <!-- /footer -->