<div class="secondary-page">
    <div class="navbar action-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-7">
                    <imls-brand></imls-brand>
                    <nav>
                        <a ui-sref="about">About</a>
                        <a ui-sref="help">Getting Started</a>
                        <a class="active" ui-sref="contact">Contact</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8 col-xs-push-2">
                    <div class="content-title text-center">
                        <img class="museum-logo" srcset="/images/2x/museum-stat-logo-dark@2x.png 2x" src="/images/museum-stat-logo-dark.png">
                        <h2>Contact Us</h2>
                        <hr>
                    </div>
                    <p>MuseumStat is a robust tool created to understand the reach of museums in communities in the United States. We want to ensure that MuseumStat meets your needs and provides you with valuable information.</p>
                    <p>Please <a href="mailto:research@imls.gov?subject=MUDF updates from MuseumStat">contact IMLS</a> to share any corrections, additions, or deletions to the organizations listed in MUDF.</p>
                    <p>MuseumStat was developed through a cooperative agreement between Drexel University and the Institute of Museum and Library Services. Professor Neville K. Vakharia of Drexel University’s graduate arts administration program is the principal investigator.</p>
                    <hr>
                    <a href="mailto:info@museumstat.org" class="btn btn-primary">Contact Us</a>
                </div>
            </div>
        </div> <!-- /.container-fluid -->
    </section> <!-- /.main-content -->

    <imls-footer></imls-footer>
</div>
