<div class="secondary-page">
    <imls-brand></imls-brand>

    <div class="map-container">
        <div id="map"></div>
    </div> <!-- /.map-container -->

    <div class="action-bar">
        <div class="container-fluid">
            <h3><a ui-sref="home">Home &#8226;</a> Contact</h3>
        </div> <!-- /.container-fluid -->
    </div> <!-- /.action-bar -->

    <section class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-push-2">
                    <div class="content-title">
                        <img class="content-title-icon" src="/images/museum-icon.svg">
                        <h2>Contact Us</h2>
                        <hr>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    <a class="btn btn-primary">Contact Us</a>
                </div>
            </div>
        </div> <!-- /.container-fluid -->
    </section> <!-- /.main-content -->

    <imls-footer></imls-footer>
</div>