
(function() {
    'use strict';

    /**
     * Configuration for imls app
     * @type {Object}
     */
    var config = {
        censusApi: {
            key: 'add your API key here'
        },
        bounds: {
            northEast: {
                lat: 40.137992,
                lng: -75.280266
            },
            southWest: {
                lat: 39.867004,
                lng: -74.955763
            }
        },
        detailZoom: 14,
        cartodb: {
            visId: '08f82c62-7824-48a3-a039-53b303bff0ff',
            account: 'npecosystem',
            tableName: 'impactviewphilly_102617',
            tractsTableName: 'philly_census_tracts_2010',
            demographicVisUrl: 'https://npecosystem.carto.com/api/v2/viz/dfa88f97-3a97-4ac5-838c-337fb912f29e/viz.json',
            demographicVisColumns: 'cartodb_id, median_income, poverty_rate'
        },
        // :site: will be replaced with each value of socialSites, set to null if no social data
        // socialColumn: ':site:_url',
        socialColumn: null,
        // The sites to pull factual social media urls from.
        //  these strings should be a subset of the options available here:
        //  http://developer.factual.com/places-crosswalk/#namespaces
        // The cartodb table for this app must then have a socialColumn manually added for
        //  each entry here, with the column name equal to the value used in socialColumn
        socialSites: [],
        typeahead: {
            results: 10
        },
        // Configures various items in the app based on whether we are debugging or not
        debug: true,
        // Configuration for html5 mode
        html5Mode: {
            enabled: false,
            prefix: ''
        }
    };

    angular.module('imls.config', [])
    .constant('Config', config);

})();

